<app-navbar></app-navbar>
<div id="banner" style="margin-top: 60px;">
    <img src="../../../assets/contacto.png" class="img-fluid" alt="">
    <div id="divTituloBanner">
        <h1>Contáctenos</h1>
        <h3>Estamos para servirle</h3>
    </div>
</div>

<div id="wrapContacto">
    <div>
        <form (ngSubmit)="enviarMensaje($event)">
            <h3>Envíenos un mensaje</h3>
            <!-- nombre -->
            <div id="nombre" class="inputsForm">
                <mat-form-field id="nombre">
                    <mat-label>Ingrese su nombre</mat-label>
                    <input matInput type="text" id="nombre" class="inputs" (keyup)="validaNombre($event.target.value)"
                        #nombre>
                    <mat-hint align="end">{{nombre.value.length}} / 50</mat-hint>
                    <mat-hint align="start" class="rojo labelChico"
                        *ngIf="objNombre.idMensaje === 1 && objNombre.estado === true">
                        {{objNombre.mensaje}}
                    </mat-hint>
                    <mat-hint align="start" class="rojo labelChico"
                        *ngIf="objNombre.idMensaje === 2 && objNombre.estado === true">
                        {{objNombre.mensaje}}
                    </mat-hint>
                </mat-form-field>
            </div>

            <!-- correo -->
            <div id="correo" class="inputsForm">
                <mat-form-field id="correo">
                    <mat-label>Ingrese su correo</mat-label>
                    <input matInput type="text" id="correo" class="inputs" (keyup)="validaCorreo($event.target.value)"
                        #correo>
                    <mat-hint align="end">{{correo.value.length}} / 50</mat-hint>
                    <mat-hint align="start" class="rojo labelChico"
                        *ngIf="objCorreo.idMensaje === 1 && objCorreo.estado === true">
                        {{objCorreo.mensaje}}
                    </mat-hint>
                    <mat-hint align="start" class="rojo labelChico"
                        *ngIf="objCorreo.idMensaje === 2 && objCorreo.estado === true">
                        {{objCorreo.mensaje}}
                    </mat-hint>
                    <mat-hint align="start" class="rojo labelChico"
                        *ngIf="objCorreo.idMensaje === 3 && objCorreo.estado === true">
                        {{objCorreo.mensaje}}
                    </mat-hint>
                </mat-form-field>
            </div>

            <!-- mensaje -->
            <mat-form-field class="inputsForm" style="margin-bottom: 25px;">
                <mat-label>Escriba un mensaje</mat-label>
                <textarea matInput #mensaje id="mensaje" (keyup)="validarMensaje($event.target.value)"></textarea>
                <mat-hint align="end">{{mensaje.value.length}} / 300</mat-hint>
                <mat-hint align="start" class="rojo labelChico"
                    *ngIf="objMensaje.idMensaje === 1 && objMensaje.estado === true">
                    {{objMensaje.mensaje}}
                </mat-hint>
                <mat-hint align="start" class="rojo labelChico"
                    *ngIf="objMensaje.idMensaje === 2 && objMensaje.estado === true">
                    {{objMensaje.mensaje}}
                </mat-hint>
            </mat-form-field>

            <button type="submit" id="btnSubmit">Enviar mensaje</button>
        </form>
    </div>

    <div>
        <img src="../../../assets/img-contacto.jpeg" alt="Contacto">
    </div>
</div>

<div id="datos">

    <div>
        <i class="fas fa-map-marker-alt"></i>
        <h4>Ubicación</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
    </div>

    <div>
        <i class="fas fa-mobile-alt"></i>
        <h4>Teléfono</h4>
        <p>6000-0000</p>
    </div>



    <div>
        <i class="fas fa-at"></i>
        <h4>E-mail</h4>
        <p>algo1algo@gmail.com</p>
    </div>

</div>


<app-footer></app-footer>