<footer>
    <div id="wrapEncuentranos">
        <!-- <p>Encuéntranos en</p> -->
        <div id="divTodos">
            <div id="ubicacion">
                <div class="ubica">
                    <i class="fas fa-map-marker-alt"></i>
                    <div>
                        <div>
                            <p>Ubicación</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                </div>
                <div class="ubica">
                    <i class="fas fa-phone-alt"></i>
                    <div>
                        <div>
                            <p>Teléfonos</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                </div>
                <div class="ubica">
                    <i class="fas fa-at"></i>
                    <div>
                        <div>
                            <p>Correo electrónico</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="redes">
                <div class="divRedes">
                    <i class="fab fa-facebook-square"></i>
                    <p><a href="https://www.facebook.com/vipalpty/" target="_blank">Facebook</a></p>
                </div>
                <div class="divRedes">
                    <i class="fab fa-instagram"></i>
                    <p><a href="https://www.instagram.com/vipalpty/" target="_blank">Instagram</a></p>
                </div>
                <div class="divRedes">
                    <i class="fab fa-twitter"></i>
                    <p><a href="https://twitter.com/Vipalpty?s=09" target="_blank">Twitter</a></p>
                </div>
            </div>
            <div id="divLogo" style="width: 200px; position: relative;">
                <img src="../../../assets/logo-blanco.png" width="100%" alt="Logo">
            </div>
        </div>
    </div>
    <p style="width: 100%; text-align: center;"><i class="far fa-copyright"></i> {{anio}} vipalpty | Todos los derechos reservados</p>
</footer>